@import '../../styles/variables';

.picker-icon {
  width: 8vw;
  height: 4vh;
  position: absolute;
  top: 50%;
  right: 4vw;
  transform: translateY(-50%);
  opacity: 0;
  animation: fadeIn .4s ease-in-out forwards .4s;
}
.hover-modal {
  position: absolute;
  width: 100%;
  height: 7vh;
  z-index: 200;
  top: 0;
  left: 0;
}
.default-input {
  .default-form-input;
  &::placeholder {
    text-align: center !important;
  }
}
.show-password-wrap {
  position: absolute;
  right: 0;
  top: 0;
  width: 14vw;
  height: 100%;
  opacity: 0;
  animation: fadeIn .4s ease-in-out forwards .4s;
  z-index: 201;
  display: flex;
  justify-content: center;
  align-items: center;
  .show-password {
    width: 4vw;
    height: 4vw;
  }
}
.error-input {
  border: darkred 2px solid;
  position: relative;
}
