@import '../../styles/variables';

.picker-icon {
  width: 8vw;
  height: 4vh;
  position: absolute;
  top: 50%;
  right: 4vw;
  transform: translateY(-50%);
}
.default-input {
  .default-form-input;
}
.default-place-holder {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @gray;
}
.error-input {
  border: darkred 2px solid;
  position: relative;
}
