@import '../../../styles/variables';

.TeacherChecking-wrap {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  height: 80vh;
  padding-top: 2vh;
  display: flex;
  color: @green;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}
.grid-container {
  display: grid;
  grid-template-columns: 6fr 4fr; /* 设置列宽比例为4:6 */
  gap: 10px; /* 可选：在项目之间添加间距 */
}

.grid-item {
  padding: 10px;
  text-align: center;
}

.teacher-common {
  display: flex;
  margin-right: 0;
  width: 35vw;
  box-sizing: border-box;
}
.teacher-confirm {
  .teacher-common;
  justify-content: center;
  margin: 4vh auto;
}
.teacher-img {
  height: 6vh;
}
.teacher-sign {
  .teacher-common;
  background-color: #fff;
  border: 1px solid @black;
  border-radius: 10px;
  color: @green;
}
.TeacherChecking-item {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
  color: @green;
}
.TeacherChecking-item-tag {
  color: @green;
  font-size: 5vw;
  flex-shrink: 0;
  word-break: break-word;
  word-wrap: break-word;
  white-space: pre-line;
  margin-top: 2vh;
}
.TeacherChecking-item-Input {
  border-radius: 2vw;
  width: 35vw;
  padding-left: 5vw;
  height: 3vh;
  box-sizing: border-box;
}
.checking-reslut-label {
  Text {
    color: @deep-green;
    font-size: 4vw;
    padding-left: 1vw;
  }
  margin-left: 4vw;
  color: @deep-green;
}
#applicationInfo {
  padding: 2vw;
  height: 17vh;
  border: #023a50 1px solid;
  border-radius: 3vw;
  color: @deep-green;
  display: block;
  flex-shrink: 0;
}
.sigh-input {
  width: 30vw;
  height: 5vh;
  text-align: center;
  font-size: 5vw;
  font-weight: 100;
}
.TeacherChecking-stamp {
  width: 20vw;
  height: 20vw;
  border-radius: 10vw;
  border: 1px solid black;
  flex-shrink: 0;
}
.smaller_tag {
  font-size: 4vw;
}
.reason_detail {
  width: 34vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#checkingReason {
  width: 35vw;
  height: 10vh;
  border: #023a50 1px solid;
  padding: 1vw;
  border-radius: 2vw;
  color: @deep-green;
}
