@import '../../../../../styles/variables';

.review-item {
  height: 16vh;
  border-radius: 3vw;
  border: 2px solid @black;
  position: relative;
  margin-top: 3vh;
  animation: appear .3s ease-in-out forwards;
  .review-item-header,
  .review-item-footer {
    height: 4vh;
    position: relative;
    width: 100%;
    display: flex;
    font-size: @font-small;
    color: @green;
  }
  .review-item-footer {
    .flex;
    font-size: @font-small;
    justify-content: space-between;
    .review-item-grade {
      margin-right: 2vh;
      .flex-center;
    }
    .review-item-reason {
      margin-left: 2vh;
      .flex-center;
    }
  }
  .review-item-header {
    justify-content: space-between;
    align-items: center;
    font-size: @font-small;
    .review-item-name {
      margin-left: 2vh;
    }
    .review-item-time {
      margin-right: 2vh;
    }
  }
  .review-item-body {
    height: 8vh;
    background-color: @deep-green;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    .review-item-arrow {
      width: 12vw;
      height: 3vh;
      align-self: center;
      justify-self: center;
    }
    // .flex-center;
    .review-item-info {
      // margin: 0 3vh 0 3vh;
      color: white;
      font-size: @font-medium;
      text-align: center;
    }
  }
}
