@import '../../../styles/variables';

.review-content {
  .center-abs;
  top: 54%;
  height: 60vh;
  padding: 2vh;
  flex-direction: column;
  .empty-sign {
    margin: 2vh auto;
    position: relative;
    text-align: center;
    top: 50%;
    color: @green;
    text-decoration: underline;
    animation: appear .3s ease-in-out forwards;
  }
  .reviewed {
    display: flex;
    justify-content: center;
    font-size: 4vw;
    color: @green;
    .reviewed-text {
      margin: 0 4vh;
      padding: 1.4vw 1vw;
      border-radius: 20px;
      font-size: 4vw;
    }
    .reviewed-text-selected {
      .reviewed-text;
      color: #fff;
      background-color: @green;
      animation: fadeIn .4s ease-in-out forwards;
    }
  }
  .reviewed-items {
    position: relative;
    height: 50vh;
    overflow-y: auto;
  }
}

