@import '../../../styles/variables';

.review-content {
  .center-abs;
  top: 54%;
  height: 60vh;
  padding: 0;
  flex-direction: column;
  .empty-sign {
    margin: 2vh auto;
    position: relative;
    text-align: center;
    top: 50%;
    color: @green;
    text-decoration: underline;
    animation: appear .3s ease-in-out forwards;
  }
  .reviewed {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    height: 7vh;
    color: @green;
    border-bottom: 2px solid ;
    .reviewed-text {
      font-size: 4vw;
      flex: 1;
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .reviewed-text-selected {
      .reviewed-text;
      color: #fff;
      background-color: @green;
      animation: fadeIn .4s ease-in-out forwards;
    }
  }
  .reviewed-items {
    position: relative;
    height: 50vh;
    padding: 2vh;
    overflow-y: auto;
  }
}

.unReviewed {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 2vh;
  bottom: 12vh;
  margin: auto;
  color: @gray;
  font-size: @font-medium;
  text-align: center;
  width: 100%;
}