@import '../../styles/variables';

.prelogin-wrap {
  color: @green;
  .center-abs;
  .prelogin-input-section {
    .prelogin-input_title {
      font-size: @font-medium;
      margin-top: 3vh;
    }
    .prelogin-input-elem {
      outline: 0;
      border: 0;
      border-radius: 0;
      height: 3vh !important;
      border-bottom: 2px @gray solid;
      margin: 0.5vh 0 0 0;
      text-align: left;
    }
    .prelogin-picker {
      .default-form-input;
      .prelogin-input-elem;
      color: @black;
      display: flex;
      align-items: center;
    }
    .prelogin-input {
      // margin-top: 5vh;
      .prelogin-input-elem
    }
  }
  .prelogin-sm {
    width: 60%;
    font-size: @font-small;
  }
  .prelogin-text-big {
    font-size: @font-extra-big;
    margin-bottom: 1vh;
  }
  .prelogin-text-small {
    font-size: @font-small;
    color: @yellow;
  }
  .prelogin-button {
    background-color: rgb(242, 196, 59);
    width: 50vw;
    margin: 6vh auto 0 auto;
  }
}
