@import "../../styles/variables";

.login-wrap {
  .center-abs;
  .login-buttons {
    display: flex;
    justify-content: space-around;
    .login-multi-button {
      width: 34vw;
      margin: 4vw;
    }
  }
  .login-button {
    width: 100%;
    .flex-center;
  }
}
